<!DOCTYPE html>
<html>
    <head>
        <title>Medowlark travel</title>
    </head>
    <header>
        <img src="\img\logo.png" alt="Medowlark Travel Logo">
    </header>
    <body>
        {{{body}}}
    </body>
</html>